*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    background-color: burlywood;
    height: 100vh;
}

nav{
    padding: 5px 0;
}

nav ul{
    background-color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-weight: 700;
    font-size: .9rem;
}